@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*основные элементы*/
body {
  font-family: "Open Sans", sans-serif;
  margin: 1;
  background-color: #d7f6ff;
}

a {
  text-decoration: none;
  color: #0e3749;
}
a:hover {
  color: rgb(111, 210, 217);
}
/*шапка*/
.site-header {
    border-bottom: 1px solid #c6e2ea;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}
.site-name h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}
.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

/*настройки профиля*/
.profile_con{
  margin: 3%;
}

.profile_img{
  width: 200px;
    margin: 50px auto 0;
    position: relative;
    border: 10px solid hsla(215, 53%, 46%, 0.782);
}
.user_post{
  margin: 3%; 
}
